{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <strong>HOLA</strong><small>data</small>
            </div>
            <div class="card-body">
                <p>Probando probando</p>
            </div>
        </div>
    </div>

{% endblock %}



